{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
<div class="container">
    <h1>Log in</h1>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary boxed-btn3 w-100">Log in</button>
    </form>
    <div class="card-footer text-muted text-center">
        Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
        <br>
        or
        <br>
        <a href="{% url 'reset_password' %}">Forgotten password?</a>
    </div>
</div>
{% endblock body %}